@media (max-width: 859px) {
	#container {
    display: none;
	}
	#main-column {
    display: none;
	}
	#side-column {
    display: none;
	}
	#blocking-container {
	  display: block;
	  margin: auto;
    width: 50%;
    padding: 10px;
	}

  #blocking-container p {
	display: block;
	max-width: 200px;
	text-align: center;
	font-family: 'Gill Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	color: black;
	margin: auto;
	padding-top:20px;
	padding-bottom:150px;
	color: #2B3990;
	}

}

@media (min-width: 860px) {
  .body {
    font-size: 14pt;
    color: #34495E;
  }

  .h1 {
    font-size: 40pt;
  }

  .h2 {
    font-size: 24pt;
  }

  .a {
    color: darkblue;
  }

  .a:hover {
    color: #E8DAEF; /* light purple */
    text-decoration: none;
  }

  .hr {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  .container-fluid-center {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  .container-fluid-left {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
  }

  .top-margin { margin-top: 17px; }

  .bot-margin { margin-bottom: 17px; }

  .bg1 {
    background-color: white;
  }

  .img-border {
    border: 2px solid #424949
  }

  .container {
    position: relative;
  }

  .image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .hidden-text {
    color: black;
    font-size: 18pt;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .container:hover .image {
    opacity: 0.4;
  }

  .container:hover .hidden-text {
    opacity: 1;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .footer {
    background-color: black;
    width: 100%;
    height: 0;
  }

  .footer p{
    color: white;
    text-align: center;
  }
}
