@media (min-width: 860px) {
  .html {
    height: 100%;
  }

  .body {
    font-size: 14pt;
    color: #34495E;
    min-height: 100%;
  }

  .h1 {
    font-size: 40pt;
  }

  .h2 {
    font-size: 24pt;
  }

  .a {
    color: darkblue;
  }

  .a:hover {
    color: #E8DAEF; /* light purple */
    text-decoration: none;
  }

  .hr {
    margin-top: 1px;
    margin-bottom: 0px;
  }

  ul {
    display:table;
    margin:0 auto;
  }

  .container-fluid-center {
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
  }

  .container-fluid-left {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: left;
  }

  .top-margin { margin-top: 17px; }

  .large-top-margin { margin-top: 50px; } /**  maybe isn't working **/

  .bot-margin { margin-bottom: 17px; }

  .bg1 {
    background-color: white;
  }

  .img-border {
    border: 2px solid #424949
  }

  .container {
    position: relative;
  }

  .fixedBottom {
    position:fixed;
    bottom: 0px;
    width:100%;
 }


  /*.footer {
    background-color: black;
    width: 100%;
    height: 0;
  }

  .footer p{
    color: white;
    text-align: center;
  }*/

  <!-- on mobile -->
  @media (max-width: 859px) {
    /* TO DO */
  }

  <!-- on desktop -->
  @media (min-width: 860px) {
    .image {
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .hidden-text {
      color: black;
      font-size: 18pt;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    .container:hover .image {
      opacity: 0.4;
    }

    .container:hover .hidden-text {
      opacity: 1;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }
  }
}
