<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa"></i>&nbsp;&nbsp;<strong><a href="https://devpost.com/software/echo-bachman">Hack Princeton Spring 2018: Political Bias Detector</a></strong>
			- A web app to take in a URL to an online news article, parse the source, and analyze the text of the article to output a predicted political bias (from liberal to conservative).
		</h5>
		<h5>
			<i class="fa"></i>&nbsp;&nbsp;<strong><a href="https://channel4robotteam.github.io/">UBC ENPH 253 Project Course: Autonomous Robot</a></strong>
			- Autonomous robot designed and built from scratch for the ENPH 253 Robot Competition.
		</h5>


    </div>
  </div>
</div>
</section>
